/*! General CSS Changes */
body {
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
    font-size: 30px;
    padding-top: 30px;
    font-family: monaco, Consolas, Lucida Console, monospace; 
}

/*! Index CSS Changes */

#containerIndex {
  background-color: white;
  filter: drop-shadow(0 0 3rem rgba(255, 255, 255, 0.5));
  margin-top: 15px;
  width: 50%;
  height: 80%;  
  display: flex;
  flex-direction: row;  
  justify-content: center;
  border-radius: 20px;
  padding: 20px;
}

#exerciseColumn {
  margin: 0 25px
}

#buttonIndex {
  color: #fff;
  font-family: monaco, Consolas, Lucida Console, monospace; 
  filter: drop-shadow(0 0 0.5rem #253969);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #253969;
  border-radius: 8px;  
  height: 40px;
  width: 150px;
  margin: 10px auto 10px auto;
  cursor: pointer;
}

#buttonIndex:hover {
    opacity: 0.3;
}

/*! Exercises CSS Changes */
#containerExercise {
  display: flex;
  filter: drop-shadow(0 0 1.5rem rgba(255, 255, 255, 0.5));
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 16px;
  width: 50%;
  height: 35rem;
  margin-top: 60px;
}

#input {
  display: flex;
}

#input h2 {
  margin-right: 10px;
  font-size: 20px;
  font-family: monaco, Consolas, Lucida Console, monospace; 
}

#input input {
  border: 1px solid #253969;
  border-radius: 16px;
  height: 30px;
  margin: 10px 0 10px 0;
  font-family: monaco, Consolas, Lucida Console, monospace; 
  font-size: 16px;
  padding: 0 8px 0 8px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

#containerExercise button {
  padding: 10px;
  margin: 0px 0px 20px 0;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 16px;
  border: 2px solid #253969;
  transition: opacity 0.6s;
  font-size: 20px;
  font-family: monaco, Consolas, Lucida Console, monospace; 
  cursor: pointer;
}

#containerExercise button:hover {
  opacity: 0.7;
}

#resultadoOp {
  font-size: 16px;
  font-weight: 500;

  font-family: monaco, Consolas, Lucida Console, monospace; 
}

#containerExercise h3 {
  padding: 5px 0 5px 0;
  margin: 5px 0 5px 0;
}

#buttonIndex2 {
  font-size: 14pt;
  font-weight: 600;
  font-family: monaco, Consolas, Lucida Console, monospace; 
  filter: drop-shadow(0 0 0.5rem #fff);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  border-radius: 8px;  
  height: 40px;
  width: 150px;
  margin: 10px auto 10px auto;
  cursor: pointer;
  border: none;
}