body {
    background: linear-gradient(90deg, #00c9ff 0%, #92FE9D 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Inter';
}

h1 {
    font-size: 32px;
    background-color: white;
    padding: 10px;
    border-radius: 16px;
}

#container {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 50px;
    border-radius: 16px;
    align-items: center;
}

#inputContainer {
    display: flex;
    justify-content: center;
    margin: 15px 0px;
    align-items: center;
    gap: 15px;
}

button {
    margin-top: 10px;
    font-family: 'Inter';
    padding: 12px;
    font-size: 20px;
    background-color: rgba(0,0,0,0);
    border: 2px solid rgb(0, 0, 0, 0.4);
    border-radius: 16px;
    transition: color 0.75s, border 0.75s;
    color: rgba(0,0,0,0.5)
}

button:hover {
    color: black;
    border: 2px solid black;
}

.inputBox {
    background-color: rgba(0, 0, 0, 0);
    padding: 15px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.4);
    font-family: 'Inter';
    font-size: 16px;
    transition: border 0.75s;
}

.inputBox::-webkit-outer-spin-button,
.inputBox::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

.inputBox::placeholder {
    color: rgba(0, 0, 0, 0.5);
    font-family: 'Inter';
    font-size: 16px;
}

.inputBox:focus {
    box-shadow: none;
    outline: none;
    border: 2px solid black;
}

.inputBox:disabled {
    border: 2px solid rgba(0, 0, 0, 0.2)
}

#cb {    
    width: 20px;
    height: 20px;    
}